@model List<Cooperaciones>


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"> Cooperaciones </h3>
                        <a asp-action="agregarcooperaciones" asp-controller="Cooperaciones" asp-route-IdCooperacion="0" class="btn btn-dark btn-sm" style="float: right !important">Nueva Cooperacion</a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                      


                        <table id="example1" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>IdCooperacion</th>
                                    <th>Fecha</th>
                                    <th>NoPedido</th> 
                                    <th>Proveedor / Descripción</th>
                                    <th>Cantidad</th>

                                    <th>Editar/Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td>@item.IdCooperacion</td>
                                        <td>@item.Fecha.ToString("dd/MM/yyyy")</td>
                                        <td>@item.NoPedido</td>
                                        <td>@item.Proveedor</td>
                                        <td>@item.Cantidad</td>
 
                                        <td>
                                            <a asp-action="agregarcooperaciones" asp-controller="Cooperaciones" asp-route-IdCooperacion="@item.IdCooperacion" class="btn btn-light btn-sm" style="width:100%; margin-bottom:10px">EDITAR </a>
                                            <a asp-action="Eliminar" asp-controller="Cooperaciones" asp-route-IdCooperacion="@item.IdCooperacion" class="btn btn-danger btn-sm" style="width:100%;">ELIMINAR </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                           
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->


            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>


