@model Clase

@{
    ViewData["Title"] = "agregarclase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        @ViewBag.Accion
    </div>
    <!-- /.card-header -->
    <div class="card-body" ng-controller="myCtrl">

        <form asp-action="GuardarCambios" asp-controller="Clase" method="post" class="needs-validation" novalidate>

            <div class="row"> 
            <input asp-for="idClase" type="hidden" />



                <div class="col-md-4 form-group">
                <label class="form-label">Nombre de la clase</label>
                    <input type="text" class="form-control form-control-sa" asp-for="Nombre" ng-model="nombre" name="Nombre" id="Nombre" required />
                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Por favor rellene este campo.</div>
            </div>


                <div class="col-md-4 form-group">
                    <div class="form-group">
                        <label>Nombre del Curso</label>
                        <select class="form-control  select2" style="width: 100%;"  asp-for="CNormal" ng-model="CNormal" name="CNormal" id="CNormal" required>
                            <option  selected disabled value="">Escoger nombre del curso</option>
                            <option value="Normal" >Normal</option>
                            <option value="Verano" >Verano</option>

                        </select>
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Por favor rellene este campo.</div>
                    </div>
                </div> 


                <div class="col-md-4 form-group">
                    <label class="form-label">Clase de Verano</label>
                    <input type="text" class="form-control form-control-sa" asp-for="CVerano" ng-model="CVerano" name="CVerano" id="CVerano" placeholder="Opcional" />
                </div>

                <div class="col-md-4 form-group" data-select2-id="43">
                    <label class="form-label">Día y Hora</label>



               <div class="col-md-4 form-group">
                <label class="form-label">Día y hora</label>
                    <input type="text" class="form-control form-control-sa" asp-for="Dia" ng-model="Dia" name="Dia" id="Dia" required />
                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Por favor rellene este campo.</div>
            </div>

@* 


                <div class="col-md-4 form-group">
                    <label class="form-label">Día y Hora 2</label>
                    <select class="form-control select" asp-for="idHorario" required>
                        <option selected disabled value="">Escoger un Dia y Hora</option>
                        @foreach (var horarios in Model.HorarioDisponibles)
                        {
                            <option value="@horarios.IdHorario">@horarios.Dia</option>
                        }
                    </select>
                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Por favor rellene este campo.</div>
            </div>


                <div class="col-md-4 form-group">
                    <label class="form-label">Día y Hora 3</label>
                    <select class="form-control select" asp-for="idHorario" required>
                        <option selected disabled value="">Escoger un Dia y Hora</option>
                        @foreach (var horarios in Model.HorarioDisponibles)
                        {
                            <option value="@horarios.IdHorario">@horarios.Dia</option>
                        }
                    </select>
                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Por favor rellene este campo.</div>
            </div> *@




                <div class="col-md-6 form-group">
                <label class="form-label">Costo</label>
                    <input type="number" class="form-control form-control-sa" asp-for="Costo" name="Costo" id="Costo" required  />
                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Por favor rellene este campo.</div>
            </div>



               <div class="col-md-3 form-group">
                <label class="form-label">Clase Opcional</label>
                    <input type="text" class="form-control form-control-sa" asp-for="ClaseOpc" name="ClaseOpc" id="ClaseOpc"  />
                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Por favor rellene este campo.</div>
            </div>


                <div class="col-md-6 form-group">
                    <button type="submit" class="btn btn-success btn-sm" ng-click="submitForm()" style="width:100% !important">Guardar Cambios</button>
            </div>

                <div class="col-md-6 form-group">
                    <a asp-action="Clase" asp-controller="Clase" class="btn btn-warning btn-sm" style="width:100% !important">Regresar </a>
                </div>

            </div>
        </form>

    </div>
</div>



