@model List<Clase>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Tabla Clases</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <a asp-action="agregarclase" asp-controller="Clase" asp-route-idClase="0" class="btn btn-primary btn-sm">Nueva Clase </a>


                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>idClase</th>
                                    <th>Nombre</th>
                                    <th>CNormal</th>
                                    <th>CVerano</th>
                                    <th>Dia</th>
                                    <th>Horario</th>
                                    <th>Dia2</th>
                                    <th>Horario2</th>
                                    <th>Dia3</th>
                                    <th>Horario3</th>
                                    <th>Costo</th>
                                    <th>ClaseOpc</th>
                                    <th>HorarioOpc</th>
                                    <th>DiaOpc</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td>@item.idClase</td>
                                        <td>@item.Nombre</td>
                                        <td>@item.CNormal</td>
                                        <td>@item.CVerano</td>
                                        <td>@item.Dia</td>
                                        <td>@item.Horario</td>
                                        <td>@item.Dia2</td>
                                        <td>@item.Horario2</td>
                                        <td>@item.Dia3</td>
                                        <td>@item.Horario3</td>
                                        <td>@item.Costo</td>
                                        <td>@item.ClaseOpc</td>
                                        <td>@item.HorarioOpc</td>
                                        <td>@item.DiaOpc</td>
                                        <td>
                                            <a asp-action="agregarclase" asp-controller="Clase" asp-route-idClase="@item.idClase" class="btn btn-primary btn-sm">EDITAR </a>
                                            <a asp-action="Eliminar" asp-controller="Clase" asp-route-idClase="@item.idClase" class="btn btn-danger btn-sm">ELIMINAR </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            @* <tfoot>
                            <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Contraseña</th>
                            <th>Correo</th>
                            <th>Dirección</th>
                            <th>Teléfono</th>
                            </tr>
                            </tfoot>*@
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->


            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

