@model List<Clase>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Tabla Clases</h3>
                        <a asp-action="agregarclase" asp-controller="Clase" asp-route-idClase="0" class="btn btn-dark btn-sm" style="float: right !important">Nueva Clase </a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                      


                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>ID Clase</th>
                                    <th>Nombre</th>
                                    <th>Clases</th>
                                    <th>CVerano</th>
                                    <th>Día</th>
                                    <th>Horario</th>
                                    <th>Dia 2</th>
                                    <th>Horario 2</th>
                                    <th>Dia 3</th>
                                    <th>Horario 3</th>
                                    <th>Costo</th>
                                    <th>Clase Opcional</th>
                                    <th>Horario Opcional</th>
                                    <th>Día Opcional</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td>@item.idClase</td>
                                        <td>@item.Nombre</td>
                                        <td>@item.CNormal</td>
                                        <td>@item.CVerano</td>
                                        <td>@item.Dia</td>
                                        <td>@item.Horario</td>
                                        <td>@item.Dia2</td>
                                        <td>@item.Horario2</td>
                                        <td>@item.Dia3</td>
                                        <td>@item.Horario3</td>
                                        <td>$ @item.Costo</td>
                                        <td>@item.ClaseOpc</td>
                                        <td>@item.DiaOpc</td>
                                        <td>@item.HorarioOpc</td>
                                       
                                        <td>
                                            <a asp-action="agregarclase" asp-controller="Clase" asp-route-idClase="@item.idClase" class="btn btn-light btn-sm" style="width:100%; margin-bottom:10px">EDITAR </a>
                                            <a asp-action="Eliminar" asp-controller="Clase" asp-route-idClase="@item.idClase" class="btn btn-danger btn-sm" style="width:100%;">ELIMINAR </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            @* <tfoot>
                            <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Contraseña</th>
                            <th>Correo</th>
                            <th>Dirección</th>
                            <th>Teléfono</th>
                            </tr>
                            </tfoot>*@
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->


            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

