@model List<Pago>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Tabla Pagos</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <a asp-action="agregarpago" asp-controller="Pago" asp-route-IdPago="0" class="btn btn-primary btn-sm">Nuevo Pago </a>


                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>IdPago</th>
                                    <th>IdPromosiones</th>
                                    <th>IdAdicionales</th>
                                    <th>Fecha</th>
                                    <th>Folio</th>
                                    <th>FechaPago</th>
                                    <th>SaldoPendiente</th>
                                    <th>Mes</th>
                                    <th>IdHorario</th>
                                    <th>Dia</th>
                                    <th>IdClase</th>
                                    <th>IdRecepcionista</th>
                                    <th>Costo</th>
                                    <th>Autorizacion</th>
                                    <th>Subtotal</th>
                                    <th>IVA</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td>@item.IdPago</td>
                                        <td>@item.IdPromosiones</td>
                                        <td>@item.IdAdicionales</td>
                                        <td>@item.Fecha.ToString("dd/MM/yyyy")</td>
                                        <td>@item.Folio</td>
                                        <td>@item.FechaPago.ToString("dd/MM/yyyy")</td>
                                        <td>@item.SaldoPendiente</td>
                                        <td>@item.Mes</td>
                                        <td>@item.IdHorario</td>
                                        <td>@item.Dia</td>
                                        <td>@item.IdClase</td>
                                        <td>@item.IdRecepcionista</td>
                                        <td>@item.Costo</td>
                                        <td>@item.Autorizacion</td>
                                        <td>@item.Subtotal</td>
                                        <td>@item.Iva</td>
                                        <td>@item.Total</td>
                                        <td>
                                            <a asp-action="agregarpago" asp-controller="Pago" asp-route-IdPago="@item.IdPago" class="btn btn-primary btn-sm">EDITAR </a>
                                            <a asp-action="Eliminar" asp-controller="Pago" asp-route-IdPago="@item.IdPago" class="btn btn-danger btn-sm">ELIMINAR </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            @* <tfoot>
                            <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Contraseña</th>
                            <th>Correo</th>
                            <th>Dirección</th>
                            <th>Teléfono</th>
                            </tr>
                            </tfoot>*@
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->


            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>


