@model List<Maestro>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Tabla Maestros</h3>

                        <a asp-action="agregarmaestro" asp-controller="Maestro" asp-route-IdMaestro="0" class="btn btn-dark btn-sm" style="float:right !important">Nuevo Maestro</a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">



                        <table id="example2" class="table table-bordered table-hover table-striped table-bordered table-sm table-responsive" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>ID Maestro</th>
                                    <th>Nombre</th>
                                    <th>Apellido Paterno</th>
                                    <th>Apellido Materno</th>
                                    <th>Direccion</th>
                                    <th>Telefono</th>
                                    <th>FechaNacimiento</th>
                                    @*<th>ID Clase</th>
                                    <th>ID Horario</th>
                                    <th>ID Alumno</th>*@
                                    <th>Status</th>
                                   @* <th>Base</th>
                                    <th>Suplente</th>*@
                                    <th>Pago</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td>@item.IdMaestro</td>
                                        <td>@item.Nombre</td>
                                        <td>@item.ApellidoP</td>
                                        <td>@item.ApellidoM</td>
                                        <td>@item.Direccion</td>
                                        <td>@item.Telefono</td>
                                        <td>@item.FechaNacimiento</td>
                                       @* <td>@item.IdClase</td>
                                        <td>@item.IdHorario</td>
                                        <td>@item.IdAlumno</td>*@
                                        <td>
                                            @if (item.Status)
                                            {
                                                <span>Base</span>
                                            }
                                            else
                                            {
                                                <span>Suplente</span>
                                            }
                                        </td>
                                       @* <td>@item.Base</td>
                                        <td>@item.Suplente</td>*@
                                        <td>@item.Pago</td>
                                        <td>
                                            <a asp-action="agregarmaestro" asp-controller="Maestro" asp-route-IdMaestro="@item.IdMaestro" class="btn btn-light btn-sm" style="width:100%; margin-bottom:10px">EDITAR </a>
                                            <a asp-action="Eliminar" asp-controller="Maestro" asp-route-IdMaestro="@item.IdMaestro" class="btn btn-danger btn-sm" style="width:100%;">ELIMINAR </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            @* <tfoot>
                            <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Contraseña</th>
                            <th>Correo</th>
                            <th>Dirección</th>
                            <th>Teléfono</th>
                            </tr>
                            </tfoot>*@
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->


            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

 <script>
    $(document).ready(function () {
        $('#example2').DataTable({
            "scrollX": true
        });
        $('.dataTables_length').addClass('bs-select');
    });
 </script>