@model List<DotacionDia>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Gastos Dotación del día</h3>
                        <a asp-action="agregardotaciondia" asp-controller="DotacionDia" asp-route-IdDotacion="0" class="btn btn-dark btn-sm" style="float: right !important">Nueva dotación del día</a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                       


                        <table id="example1" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>IdDotacion</th>
                                    <th>Fecha</th>
                                    <th>NoPedido</th>
                                    <th>Descripcion</th>
                                    <th>Cantidad</th>

                                    <th>Editar/Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td>@item.IdDotacion</td>
                                        <td>@item.Fecha.ToString("dd/MM/yyyy")</td>
                                        <td>@item.NoPedido</td>
                                        <td>@item.Descripcion</td>
                                        <td>@item.Cantidad</td>

                                        <td>
                                            <a asp-action="agregardotaciondia" asp-controller="DotacionDia" asp-route-IdDotacion="@item.IdDotacion" class="btn btn-light btn-sm" style="width:100%; margin-bottom:10px">EDITAR </a>
                                            <a asp-action="Eliminar" asp-controller="DotacionDia" asp-route-IdDotacion="@item.IdDotacion" class="btn btn-danger btn-sm" style="width:100%;">ELIMINAR </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            @* <tfoot>
                            <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Contraseña</th>
                            <th>Correo</th>
                            <th>Dirección</th>
                            <th>Teléfono</th>
                            </tr>
                            </tfoot>*@
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->


            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>


