@model Alumnos
@using System.Web.Mvc
@using Syncfusion.Blazor.DropDowns;

@{
    ViewData["Title"] = "Agregar Alumnos";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="col-md-12">
    <div class="card card-default">
        <div class="card-header">
            @ViewBag.Accion
        </div>
        <div class="card-body p-0" ng-controller="myCtrl">
            <div class="bs-stepper">
                <div class="bs-stepper-header" role="tablist">
                    <!-- your steps here -->
                    <div class="step" data-target="#logins-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger">
                            <span class="bs-stepper-circle">1</span>
                            <span class="bs-stepper-label">Registro</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#information-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                            <span class="bs-stepper-circle">2</span>
                            <span class="bs-stepper-label">Padres</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#estudios-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                            <span class="bs-stepper-circle">3</span>
                            <span class="bs-stepper-label">Estudios</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#instrumento-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                            <span class="bs-stepper-circle">4</span>
                            <span class="bs-stepper-label">Instrumento</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#interes-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                            <span class="bs-stepper-circle">5</span>
                            <span class="bs-stepper-label">Interes</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#pagos-part" id="pagos-partV1">
                        <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                            <span class="bs-stepper-circle">6</span>
                            <span class="bs-stepper-label">Pagar</span>
                        </button>
                    </div>
                </div>
                <div class="bs-stepper-content">
                    <form asp-action="GuardarCambiosV1" asp-controller="Alumnos" method="post" name="formAddAlumno" class="needs-validation" novalidate>

                        <!-- your steps content here -->
                        <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">

                            <div class="row">
                                <input asp-for="IdAlumno" type="hidden" id="IdAlumno"/>
                                <input type="hidden" name="formaEntrada" id="formaEntrada" value="@ViewBag.Modo" />

                                @*FechaInscripcion*@
                                <div class="col-md-3 form-group">
                                    <label class="form-label" for="FechaInscripcion">Fecha Inscripción</label>
                                    <input type="date" class="form-control form-control-sa" asp-for="FechaInscripcion" name="FechaInscripcion" id="FechaInscripcion" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>
                                <script>
                                    var fecha = new Date();
                                    var fechaZone = new Date(fecha.getTime() - (fecha.getTimezoneOffset() * 60000));
                                    document.getElementById("FechaInscripcion").value = fechaZone.toJSON().slice(0, 10);

                                    var fechaInscripcion = document.getElementById("FechaInscripcion");

                                    fechaInscripcion.addEventListener("change", function () {

                                        var fechaSeleccionada = fechaInscripcion.value;
                                        var fechaFormateada = new Date(fechaSeleccionada).toISOString().split('T')[0];

                                        fechaInscripcion.value = fechaFormateada.Date.toISOString;
                                    });
                                </script>

                                @*Tag de Registro*@
                                <div class="col-md-3 form-group">
                                    <label class="form-label" for="Tag">Tag de Registro</label>
                                    <input type="text" class="form-control form-control-sa" asp-for="Tag" id="Tag" name="Tag" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>

                                @*Dia de Clases*@
                                <div class="col-md-3 form-group">
                                    <label class="form-label" for="NoDiaClases">No. de Día de Clases</label>
                                    <select class="form-control form-control-sa" asp-for="NoDiaClases" id="NoDiaClases" name="NoDiaClases" required>
                                        <option value="" disabled>Seleccionar...</option>
                                        <option value="1">1 día</option>
                                        <option value="2">2 días</option>
                                        <option value="3">3 días</option>
                                    </select>
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor seleccione una opción.</div>
                                </div>


                                @*Fecha Inicio de clases*@
                                <div class="col-md-3 form-group">
                                    <label class="form-label" for="FechaInicioClase">Fecha de clase inicio</label>
                                    <input type="date" class="form-control form-control-sa" asp-for="FechaInicioClase" id="FechaInicioClase" name="FechaInicioClase" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>

                                <script>
                                    var fecha = new Date();
                                    var fechaZone = new Date(fecha.getTime() - (fecha.getTimezoneOffset() * 60000));
                                    document.getElementById("FechaInicioClase").value = fechaZone.toJSON().slice(0, 10);

                                    var fechaInicio = document.getElementById("FechaInicioClase");

                                    fechaInicio.addEventListener("change", function () {

                                        var fechaSeleccionada = fechaInicio.value;
                                        var fechaFormateada = new Date(fechaSeleccionada).toISOString().split('T')[0];

                                        fechaInicio.value = fechaFormateada.Date.toISOString();
                                    });
                                </script>

                                @*Instumento Base*@
                                <div class="col-md-3 form-group">
                                    <label class="form-label" for="SeleccionarClase1">Instrumento Base</label>
                                    <select class="form-control form-control-sa" asp-for="SeleccionarClase1" id="SeleccionarClase1" name="SeleccionarClase1" required onchange="ShowSelected('SeleccionarClase1', 'IntrumentoBaseV1')">
                                        <option value="0">Seleccionar...</option>
                                        @if (Model != null && Model.ListarClasesSelect != null)
                                        {
                                            foreach (var listClase in Model.ListarClasesSelect)
                                            {
                                                <option value="@listClase.idClase">@listClase.Nombre</option>
                                            }
                                        }
                                    </select>
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor seleccione una opción.</div>
                                </div>

                                @*MultiselectHorario*@
                                <div class="col-md-3 form-group">
                                    <label class="form-label" for="dia">Seleccione sus horario</label>
                                    <div class="input-group">
                                        <select multiple="multiple" class="form-control form-control-sa" id="tomarClases1" name="tomarClases1" required>
                                            @* <option value="0">Seleccionar...</option> *@
                                        </select>
                                        <div class="valid-feedback">Válido.</div>
                                        <div class="invalid-feedback">Por favor rellene este campo.</div>
                                    </div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label class="form-label">Horario Base</label>
                                    <input type="text" class="form-control disabled form-control-sa" asp-for="DiaAndHoraClase" id="DiaAndHoraClaseBase" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>


                                @*Instrumento Opcional*@
                                <div class="col-md-3 form-group">
                                    <label class="form-label" for="SeleccionarClase2">Instrumento Opcional</label>
                                    <select class="form-control form-control-sa" asp-for="SeleccionarClase2" id="SeleccionarClase2" name="SeleccionarClase2" onchange="ShowSelected2('SeleccionarClase2', 'IntrumentoBaseV2')">
                                        <option value="0">Seleccionar...</option>
                                        @if (Model != null && Model.ListarClasesSelect != null)
                                        {
                                            foreach (var listUnique in Model.ListClasesUnique.Data)
                                            {
                                                <option value="@listUnique.idClase">@listUnique.Nombre</option>
                                            }
                                        }
                                    </select>
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor seleccione una opción.</div>
                                </div>
                                @*Dia Opcional*@
                                <div class="col-md-3 form-group">
                                    <label class="form-label" for="dia">Seleccione sus horario</label>
                                    <div class="input-group">
                                        <select multiple="multiple" class="form-control form-control-sa" id="tomarClases2" name="tomarClases2" >
                                            @* <option value="0">Seleccionar...</option> *@
                                        </select>
                                        <div class="valid-feedback">Válido.</div>
                                        <div class="invalid-feedback">Por favor rellene este campo.</div>
                                    </div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label class="form-label">Horario Opcional</label>
                                    <input type="text" class="form-control disabled form-control-sa" asp-for="DiaAndHoraClaseOpcional" id="DiaAndHoraClaseBaseOpcional" value="opcional"  />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>

                                @*Nombre Completo*@
                                <div class="col-md-3 form-group">
                                    <label class="form-label" for="NombreCompleto">Nombre Completo del Alumno</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control form-control-sa" asp-for="NombreCompleto" id="NombreCompleto" name="NombreCompleto" required />
                                        <div class="valid-feedback">Válido.</div>
                                        <div class="invalid-feedback">Por favor rellene este campo.</div>
                                    </div>
                                </div>

                                @*Edad del Alumno*@
                                <div class="col-md-3 form-group">
                                    <label class="form-label" for="NombreCompleto">Edad del Alumno</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control form-control-sa" asp-for="Edad" id="Edad" name="Edad" required />
                                        <div class="valid-feedback">Válido.</div>
                                        <div class="invalid-feedback">Por favor rellene este campo.</div>
                                    </div>
                                </div>

                                @*Fecha Nacimiento del Alumno*@
                                <div class="col-md-3 form-group">
                                    <label class="form-label" for="FechaNacimiento">Fecha de Nacimiento del Alumno</label>
                                    <div class="input-group">
                                        <input type="date" class="form-control form-control-sa" asp-for="FechaNacimiento" id="FechaNacimiento" required />
                                        <div class="valid-feedback">Válido.</div>
                                        <div class="invalid-feedback">Por favor rellene este campo.</div>
                                    </div>
                                </div>
                                <script>
                                    var fecha = new Date();
                                    var fechaZone = new Date(fecha.getTime() - (fecha.getTimezoneOffset() * 60000));
                                    document.getElementById("FechaNacimiento").value = fechaZone.toJSON().slice(0, 10);

                                    var fechaInicio = document.getElementById("FechaNacimiento");

                                    fechaInicio.addEventListener("change", function () {

                                        var fechaSeleccionada = fechaInicio.value;
                                        var fechaFormateada = new Date(fechaSeleccionada).toISOString().split('T')[0];

                                        fechaInicio.value = fechaFormateada.Date.toISOString();

                                    });
                                </script>

                                @*Telefono del alumno*@
                                <div class="col-md-3 form-group">
                                    <label class="form-label" for="Telefono">Teléfono de Casa</label>
                                    <input type="tel" class="form-control form-control-sa" maxlength="10" asp-for="TelefonoCasa" id="TelefonoCasa" name="TelefonoCasa" value="opcional" />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Ingrese un numero Telefónico.</div>
                                </div>

                                @*Celular del alumno*@
                                <div class="col-md-3 form-group">
                                    <label class="form-label" for="Telefono">Celular</label>
                                    <input type="tel" class="form-control form-control-sa" maxlength="10" asp-for="Celular" id="Celular" name="Celular" value="opcional" />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Ingrese un numero Telefónico (Celular).</div>
                                </div>

                                @*Facebook del Alumno*@
                                <div class="col-md-3 form-group">
                                    <label class="form-label" for="Facebook">Facebook</label>
                                    <input type="text" class="form-control form-control-sa" asp-for="Facebook" id="Facebook" name="Facebook" placeholder="URL o Nombre" value="opcional" />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Ingrese Facebook.</div>
                                </div>

                                @*Email del Alumno*@
                                <div class="col-md-3 form-group">
                                    <label class="form-label" for="Email">Email del Alumno</label>
                                    <input type="email" class="form-control form-control-sa" asp-for="Email" id="Email" name="Email" value="ejemplo@gmail.com" />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Ingrese Email.</div>
                                </div>

                                @*Enfermedades*@
                                <div class="col-md-3 form-group">
                                    <label class="form-label" for="Enfermedades">Enfermedad / Alergias discapacidad</label>
                                    <input type="text" class="form-control form-control-sa" asp-for="Enfermedades" id="Enfermedades" name="Enfermedades" value="opcional" />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Ingrese Enfermedad.</div>
                                </div>

                                @*Botones de guardar*@
                                <div class="col-md-12 form-group">

                                    <a class="btn btn-success" style="width:100% !important" onclick="stepper.next()">Siguiente</a>

                                </div>
                            </div>
                        </div>
                        <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">

                            <div class="row">

                                @*Nombre del Papa o mama*@
                                <div class="col-md-3 form-group">
                                    <label class="form-label" for="NombrePapas">Nombre de mamá y/o papá</label>
                                    <input type="text" class="form-control form-control-sa" asp-for="NombrePapas" name="NombrePapas" id="NombrePapas" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>

                                @*Celular del papa *@
                                <div class="col-md-3 form-group">
                                    <label class="form-label" for="CelularPapas">Celular</label>
                                    <input type="tel" class="form-control form-control-sa" maxlength="10" asp-for="CelularPapas" id="CelularPapas" name="CelularPapas" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>

                                @*Facebook del papa*@
                                <div class="col-md-3 form-group">
                                    <label class="form-label" for="FacebookPapas">Facebook papá o mamá</label>
                                    <input type="text" class="form-control form-control-sa" asp-for="FacebookPapas" id="FacebookPapas" name="FacebookPapas" value="opcional"  />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>

                                @*Email del papa *@
                                <div class="col-md-3 form-group">
                                    <label class="form-label" for="email">Email</label>
                                    <input type="text" class="form-control form-control-sa" asp-for="EmailPapas" id="EmailPapas" name="EmailPapas" value="opcional" />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>

                                @*Nombre del tutor a recoger*@
                                <div class="col-md-3 form-group">
                                    <label class="form-label" for="TutorRecoger">Nombre de la persona que recogerá al niño</label>
                                    <input type="text" class="form-control form-control-sa" asp-for="TutorRecoger" id="TutorRecoger" name="TutorRecoger" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>

                                @*Celular del alumno*@
                                <div class="col-md-3 form-group">
                                    <label class="form-label" for="CelularTR">Celular persona que recoge al niño</label>
                                    <input type="tel" class="form-control form-control-sa" maxlength="10" asp-for="CelularTR" id="CelularTR" name="CelularTR" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>

                                @*Numero de Emergencia*@
                                <div class="col-md-3 form-group">
                                    <label class="form-label" for="NumEmergencia">Número de Emergencia</label>
                                    <input type="tel" class="form-control form-control-sa" maxlength="10" asp-for="NumEmergencia" id="NumEmergencia" name="NumEmergencia" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>

                                @*Botones de guardar*@
                                <div class="col-md-6 form-group">
                                    <a class="btn btn-success" style="width:100% !important" onclick="stepper.next()">Siguiente</a>
                                </div>

                                <div class="col-md-6 form-group">
                                    <a class="btn btn-warning " style="width:100% !important" onclick="stepper.previous()">Regresar</a>
                                </div>

                            </div>
                        </div>

                        @*Correcion Total de Papas*@



                        <div id="estudios-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                            <div class="row">


                                @*Estudios*@
                                <div class="col-md-4 form-group">
                                    <label class="form-label" for="Estudios">¿Actualmente estudias?</label>
                                    <select class="form-control  select2" asp-for="Estudios" name="Estudios" id="Estudios" >
                                        <option selected="" disabled="" value="">Seleccionar</option>
                                        <option value="true">Sí</option>
                                        <option value="false">No</option>
                                    </select>

                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>

                                @*Grado de Estudios*@
                                <div class="col-md-4 form-group">
                                    <label class="form-label" for="GradoEstudios">Grado de estudios</label>
                                    <input type="text" class="form-control form-control-sa" asp-for="GradoEstudios" id="GradoEstudios" name="GradoEstudios" value="opcional" />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>

                                @*Nombre de la Escuela *@
                                <div class="col-md-4 form-group">
                                    <label class="form-label" for="EscuelaActuales">Nombre de la Escuela</label>
                                    <input type="text" class="form-control form-control-sa" asp-for="EscuelaActuales" id="EscuelaActuales" name="EscuelaActuales" value="opcional" />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>

                                @*Trabajas*@
                                <div class="col-md-4 form-group">
                                    <label class="form-label" for="Trabajas">¿Actualmente Trabajas?</label>
                                    @*<input type="text" class="form-control form-control-sa" asp-for="Trabajas" id="trabajas" name="trabajas" required />*@
                                    <select class="form-control  select2" asp-for="Trabajas" id="Trabajas" name="Trabajas" required>
                                        <option selected="" disabled="" value="">Seleccionar</option>
                                        <option value="true">Sí</option>
                                        <option value="false">No</option>
                                    </select>
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>


                                @*Lugar de Trabajo*@
                                <div class="col-md-4 form-group">
                                    <label class="form-label" for="LugarTrabajo">Lugar de Trabajo</label>
                                    <input type="text" class="form-control form-control-sa" asp-for="LugarTrabajo" id="LugarTrabajo" name="LugarTrabajo" value="opcional" />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>


                                @*Botones de guardar*@
                                <div class="col-md-6 form-group">
                                    <a class="btn btn-success" style="width:100% !important" onclick="stepper.next()">Siguiente</a>
                                </div>

                                <div class="col-md-6 form-group">
                                    <a class="btn btn-warning " style="width:100% !important" onclick="stepper.previous()">Regresar</a>
                                </div>

                            </div>
                        </div>


                        <div id="instrumento-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">

                            <div class="row">

                                @*Conocimientos Musicales*@
                                <div class="col-md-4 form-group">
                                    <label class="form-label" for="conocimientomusicales">¿Cúentas con algún conocimiento musical?</label>
                                    <select class="form-control  select2" asp-for="ConConocimiento" name="ConConocimiento" id="ConConocimiento"  >
                                        <option selected="" disabled="" value=" ">Seleccionar</option>
                                        <option value="true">Sí</option>
                                        <option value="false">No</option>
                                    </select>

                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>

                                @*Instrumentos *@
                                <div class="col-md-4 form-group">
                                    <label class="form-label" for="instrumentos">En que instrumentos</label> 
                                    <input type="text" class="form-control form-control-sa" asp-for="Instrumento" id="Instrumento" name="Instrumento" value="opcional" />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>

                                @*Instrumento Casa *@
                                <div class="col-md-4 form-group">
                                    <label class="form-label" for="instrumentocasa">¿Cuentas con un Instrumento en Casa?</label>
                                    @*<input type="text" class="form-control form-control-sa" asp-for="InstrumentoCasa" id="instrumentocasa" name="instrumentocasa" required />*@
                                    <select class="form-control  select2" asp-for="InstrumentoCasa" id="instrumentocasa" name="instrumentocasa" required>
                                        <option selected="" disabled="" value="">Seleccionar</option>
                                        <option value="true">Sí</option>
                                        <option value="false">No</option>
                                    </select>

                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>


                                @*Que instrumento tiene en casa*@
                                <div class="col-md-4 form-group">
                                    <label class="form-label" for="Instrumento">Que instrumento (s)</label>
                                    <input type="text" class="form-control form-control-sa" asp-for="InstrumentotTwo" id="" name="InstrumentotTwo" value="opcional" />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>


                                @*Enteraste Escuela*@
                                <div class="col-md-4 form-group">
                                    <label class="form-label" for="EnterasteEsc">¿Cómo te enteraste de EMAI?</label>
                                    <input type="text" class="form-control form-control-sa" asp-for="EnterasteEsc" id="EnterasteEsc" name="EnterasteEsc" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>


                                @*Interes musical*@
                                <div class="col-md-4 form-group">
                                    <label class="form-label" for="InteresGnroMusical">¿Tienes algun género en especial?</label>
                                    @*<input type="date" class="form-control form-control-sa" asp-for="InteresGnroMusical" id="interesmusical" name="interesmusical" required />*@
                                    <select class="form-control  select2" onchange="viewInput()" asp-for="InteresGnroMusical" id="InteresGnroMusical" name="InteresGnroMusical">
                                        <option selected="" disabled="" value="">Seleccionar</option>
                                        <option value="true">Sí</option>
                                        <option value="false">No</option>
                                    </select>

                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>

                                @*Cuales Generos Musicales*@
                                <div class="col-md-4 form-group" style="display:none" id="inputTextCuales">
                                    <label class="form-label" for="CualesMusicales">¿Mencionalo?</label>
                                    <input type="text" class="form-control form-control-sa" asp-for="CualesMusicales" id="CualesMusicales" name="CualesMusicales" value="opcional" />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>
                                @*Javscript*@
                                <script>
                                    function viewInput() {
                                        var valueSelect = document.getElementById("InteresGnroMusical");
                                        var inputText = document.getElementById("inputTextCuales");

                                        if (valueSelect.value == "true") {
                                            inputText.style.display = "block";
                                        } else {
                                            inputText.style.display = "none";
                                        }
                                    }

                                </script>

                                @*Botones de guardar*@
                                <div class="col-md-6 form-group">

                                    <a class="btn btn-success" style="width:100% !important" onclick="stepper.next()">Siguiente</a>
                                </div>

                                <div class="col-md-6 form-group">
                                    <a class="btn btn-warning " style="width:100% !important" onclick="stepper.previous()">Regresar</a>
                                </div>
                            </div>
                        </div>

                        <div id="interes-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                            <div class="row">

                                @*interes Hobby *@
                                <div class="col-md-12 form-group">
                                    <label class="form-label" for="InteresHobby">Selecciona: ¿Cuál es tu interés en aprender un instrumento musical?</label>
                                    <br /><br />
                                    <div class="radio-container">
                                        <label for="hobby"><input type="radio" asp-for="TipoInteres" name="TipoInteres" value="Hobby" id="hobby"> Hobby</label>
                                        <label for="formarGrupo"><input type="radio" asp-for="TipoInteres" name="TipoInteres" value="Formar un grupo musical" id="formarGrupo"> Formar un grupo musical</label>
                                        <label for="serProfesional"><input type="radio" asp-for="TipoInteres" name="TipoInteres" value="Ser profesional" id="serProfesional"> Ser profesional</label>
                                        <label for="inquietud"><input type="radio" asp-for="TipoInteres" name="TipoInteres" value="Inquietud" id="inquietud"> Inquietud</label>
                                        <label for="mejoraTecnica"><input type="radio" asp-for="TipoInteres" name="TipoInteres" value="Porque tus papás quieren mejorar técnica" id="mejoraTecnica"> Porque tus papás quieren mejorar técnica</label>
                                        <label for="pasarRato"><input type="radio" asp-for="TipoInteres" name="TipoInteres" value="Pasar el rato" id="pasarRato"> Pasar el rato</label>
                                        <label for="otro"><input type="radio" asp-for="TipoInteres" name="TipoInteres" value="Otro" id="otro"> Otro</label>
                                    </div>
                                </div>


                                @*Otro *@
                                <div class="col-md-12 form-group" style="display:none" id="OtroInteresV1">
                                    <label class="form-label" for="OtroOpcional">¿Algun otro interés musical?</label>
                                    <input type="text" class="form-control form-control-sa" placeholder="Mencionalo" asp-for="OtroOpcional" id="OtroOpcional" name="OtroOpcional" value="opcional" />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>

                                <script>
                                    var otroInteresV1 = document.getElementById("OtroInteresV1");
                                    var radiosInteresMusical = document.querySelectorAll('input[name="TipoInteres"]');

                                    radiosInteresMusical.forEach(function (radio) {
                                        radio.addEventListener("change", function () {
                                            if (this.value === "Otro") {
                                                otroInteresV1.style.display = "block";
                                            } else {
                                                otroInteresV1.style.display = "none";
                                            }
                                        });
                                    });
                                </script>

                                @*Musica de Interes *@
                                <div class="col-md-12 form-group">
                                    <label class="form-label" for="MusicalInteres">¿Musica de Interes?</label>
                                    <input type="text" class="form-control form-control-sa" placeholder="Cumbia" asp-for="MusicalInteres" id="MusicalInteres" name="MusicalInteres" value="opcional" />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>

                                @*Clase Opcionales*@
                                <div class="col-md-12 form-group">
                                    <label class="form-label" for="claseopcional">¿La persona que lo atendió le mencionó las clases opcionales?</label>
                                    <br /><br />
                                    <div class="radio-container">
                                        <label for="opcionSi">
                                            <input type="radio" name="opcionClase" asp-for="ClaseOpcional" value="true" required> Sí
                                        </label>
                                        <label for="opcionNo">
                                            <input type="radio" name="opcionClase" asp-for="ClaseOpcional" value="false" required> No
                                        </label>
                                    </div>

                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>

                                @*Pago Puntual*@
                                <div class="col-md-12 form-group">
                                    <label class="form-label" for="descuento">¿La persona que lo atendió te mencionó sobre el descuento en pago puntual?</label>
                                    <br /><br />
                                    <div class="radio-container">
                                        <label><input type="radio" name="DescuentoP" asp-for="DescuentoP" value="true" required> Sí</label>
                                        <label><input type="radio" name="DescuentoP" asp-for="DescuentoP" value="false"> No</label>
                                    </div>

                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>

                                @*Amable*@
                                <div class="col-md-12 form-group">
                                    <label class="form-label" for="amable">¿La persona que le atendió fue amable contigo?</label>
                                    <br /><br />
                                    <div class="radio-container">
                                        <label><input type="radio" name="Amables" asp-for="Amables" value="true">Sí</label>
                                        <label><input type="radio" name="Amables" asp-for="Amables" value="false"> No</label>
                                    </div>
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>


                                @*Nombre recepcion*@
                                <div class="col-md-12 form-group">
                                    <label class="form-label" for="NombreRecepcionista">¿Quién la atendió?</label>
                                    <input type="text" class="form-control form-control-sa" asp-for="NombreRecepcionista" id="NombreRecepcionista" name="NombreRecepcionista" required />

                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>



                                @***********************************************************@

                                @*Botones de guardar*@
                                <div class="col-md-6 form-group" data-target="#pagos-part" id="desactivarGuardarCambios">
                                    <a class="btn btn-success" style="width:100% !important" onclick="stepper.next()">Siguiente</a>
                                </div>

                                <div class="col-md-6 form-group">
                                    <a class="btn btn-warning " style="width:100% !important" onclick="stepper.previous()">Regresar</a>
                                </div>
                                <div class="col-md-6 form-group" data-target="#pagos-part" id="ActivarEditar0">
                                    <button id="guardarCambios" type="submit" class="btn btn-success" style="width:100% !important">Guardar Cambios</button>
                                </div>

                                @***********************************************************@

                            </div>
                        </div>
                        <div id="pagos-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">

                            <div class="row" id="row-condiccion">
                                <div class="col-md-6 form-group">
                                    <label class="form-label">Folio</label>

                                    <input type="text" class="form-control form-control-sa" asp-for="Folio" id="Folio" name="Folio" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>
                                <script>
                                    document.addEventListener('DOMContentLoaded', function () {
                                        var folio = "@Model.GeneradorFolioV1";
                                        document.getElementById("Folio").value = folio;
                                    });

                                </script>

                                <div class="col-md-6 form-group">
                                    <label class="form-label">Fecha</label>
                                    <input type="date" class="form-control form-control-sa" asp-for="FechaPago" id="FechaPago" name="FechaPago" required />

                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>
                                <script>
                                    var fecha = new Date();
                                    var fechaZone = new Date(fecha.getTime() - (fecha.getTimezoneOffset() * 60000));
                                    document.getElementById("FechaPago").value = fechaZone.toJSON().slice(0, 10);
                                </script>


                                @*Lista de Promociones*@
                                <div class="col-md-3 form-group">
                                    <label class="form-label" for="IdPromosion">Promociones</label>
                                    <select class="form-control form-control-sa" asp-for="IdPromosion" id="IdPromosion" name="IdPromosion" >
                                        <option value="0" selected data-porcentaje="0">Seleccionar...</option>
                                        @if (Model != null && Model.ListSelectPromocion != null)
                                        {
                                            foreach (var listPromocion in Model.ListSelectPromocion.Data)
                                            {
                                                <option value="@listPromocion.IdPromociones" data-porcentaje="@listPromocion.Porcentaje">@listPromocion.NombrePromocion ---> @listPromocion.Porcentaje</option>
                                            }
                                        }
                                    </select>
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor seleccione una opción.</div>
                                </div>

                                @*Lista de Meses*@
                                <div class="col-md-3 form-group">
                                    <label class="form-label" for="IdMes">Meses</label>
                                    <select class="form-control form-control-sa" asp-for="IdMes" id="IdMes" name="IdMes" >
                                        <option value="">Seleccionar...</option>
                                        @if (Model != null && Model.ListarMesesSelect != null)
                                        {
                                            foreach (var listMeses in Model.ListarMesesSelect)
                                            {
                                                <option value="@listMeses.IdMeses">@listMeses.NombreMes</option>
                                            }
                                        }
                                    </select>
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor seleccione una opción.</div>
                                </div>


                                <div class="col-md-6 form-group">
                                    <label class="form-label">Instrumento Base</label>
                                    <input type="text" disabled class="form-control form-control-sa" required name="IntrumentoBaseV1" id="IntrumentoBaseV1" />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label class="form-label">Instrumento Opcional</label>
                                    <input type="text" disabled class="form-control form-control-sa" name="IntrumentoBaseV2" id="IntrumentoBaseV2" />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>

                                <script>
                                    function ShowSelected(selectId, inputId) {
                                        var cod = document.getElementById(selectId);
                                        var select = cod.options[cod.selectedIndex].text;
                                        var selectBase = document.getElementById(inputId);
                                        selectBase.value = select;
                                    }

                                    function ShowSelected2(selectId, inputId) {
                                        var cod = document.getElementById(selectId);
                                        var select = cod.options[cod.selectedIndex].text;
                                        var selectBase = document.getElementById(inputId);
                                        selectBase.value = select;
                                    }

                                    document.getElementById("DiaAndHoraClase").addEventListener('input', function () {
                                        var valor = this.value;
                                        document.getElementById('HorarioSelectV1').value = valor;
                                    });

                                    document.getElementById("DiaAndHoraClaseOpcional").addEventListener('input', function () {
                                        var valor = this.value;
                                        document.getElementById('HorarioSelectV2').value = valor;
                                    });
                                </script>

                                </script>

                                <div class="col-md-6 form-group">
                                    <label class="form-label">¿Qué libro fue?</label>
                                    <input type="text" class="form-control form-control-sa" asp-for="NombreLibro" id="NombreLibro" name="NombreLibro" value="opcional" />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label class="form-label">Costo de libro</label>
                                    <input type="number" class="form-control form-control-sa" asp-for="CostoLibro" id="CostoLibro" name="CostoLibro" />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label class="form-label">Nombre Atendio</label>
                                    <input type="text" class="form-control form-control-sa" asp-for="Atendio" id="Atendio" name="Atendio" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label class="form-label">Inscripción</label>
                                    <input type="number" class="form-control form-control-sa" asp-for="Inscripcion" id="Inscripcion" name="Inscripcion" required />

                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label class="form-label">Mensualidad</label>
                                    <input type="number" class="form-control form-control-sa" asp-for="Mensualidad" id="Mensualidad" name="Mensualidad" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>

                                <div class="col-md-3 form-group">
                                    <label class="form-label">Total</label>
                                    <input type="number" class="form-control form-control-sa" asp-for="Total" id="Total" name="Total" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>

                                <input type="hidden" asp-for="Activo" id="Activo" value="true" />

                                @******************************************@
                                <div class="col-md-12 form-group" data-target="#pagos-part" id="desacctivarEditar">
                                    <button id="guardar" type="submit" class="btn btn-success" style="width:100% !important">Guardar y pagar </button>
                                </div>
                                <div class="col-md-12 form-group">
                                    <a data-target="#pagos-part" id="desacctivarEditar2" class="btn btn-warning " style="width:100% !important" onclick="stepper.previous()">Regresar</a>
                                </div>
                                @******************************************@

                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.card-body -->

    </div>
    <!-- /.card -->
</div>





@section Scripts {
    <script>
        // //proceso para acomplar la desactivar de botton de idAlumno cuando es 0 y !xhtml10f
        // var inputValue = document.getElementById("IdAlumno").value;
        // console.log("CODIGO ES "+inputValue);

        //OBTENER EL IDALUMNO DE FORMA ASINCRINO
        async function obtenerIdAlumno() {
            return new Promise(resolve => {
                const inputIdAlumno = document.getElementById("IdAlumno").value;
                resolve(inputIdAlumno);
            });
        }
        /*inicio*/
        async function getProccessAndExecute() {
            const valorId = await obtenerIdAlumno();
            var idSeccionForm = document.getElementById('pagos-part');
            var idSeccionFormV1 = document.getElementById('pagos-partV1');
            var iddesacctivarEditar = document.getElementById('desacctivarEditar');
            var iddesacctivarEditar2 = document.getElementById('desacctivarEditar2');
            var idActivarEditar0 = document.getElementById('ActivarEditar0');
            var iddesactivarGuardarCambios = document.getElementById('desactivarGuardarCambios');
            var btnGuardar = document.getElementById('guardar');
            var btnGuardarCambios = document.getElementById('guardarCambios');


            if (valorId != 0) {
                //quiere decir editar
                idSeccionForm.style.display = "none";
                idSeccionFormV1.style.display = "none";
                iddesacctivarEditar.style.display = "none";
                iddesacctivarEditar2.style.display = "none";
                iddesactivarGuardarCambios.style.display = "none";

            } else {
                idActivarEditar0.style.display = "none";
            }
        }
        /*fin*/
        getProccessAndExecute();


        var selectDay = document.getElementById("NoDiaClases");
        var selectPorcentaje = document.getElementById("IdPromosion");
        var mensualidadInput = document.getElementById("Mensualidad");
        var DiaAndHoraClaseBase = document.getElementById('DiaAndHoraClaseBase');
        var DiaAndHoraClaseOpcional = document.getElementById('DiaAndHoraClaseBaseOpcional');
        var selectOpcionales = document.getElementById("SeleccionarClase2");

        var select1Emisor = "SeleccionarClase1";
        var select2Emisor = "SeleccionarClase2";
        var selectDestino = "tomarClases1";
        var select2Destino = "tomarClases2";
        var porcentaje = 0;




        selectPorcentaje.addEventListener("change", function () {

            var selectedOption = selectPorcentaje.options[selectPorcentaje.selectedIndex];
            porcentaje = parseFloat(selectedOption.getAttribute("data-porcentaje"));
            calculoActualizardo();
        });

        function calculoActualizardo() {
            var pagoMensual = parseFloat(mensualidadInput.value);
            var porcentajeV = porcentaje;
            var pagoEsMensual = pagoMensual - (calcularPago(porcentajeV, pagoMensual));
            mensualidadInput.value = pagoEsMensual.toFixed(2);
            calcularTotales();
        }
        mensualidadInput.addEventListener('blur', function () {
            calculoActualizardo();
        });

        $(document).ready(function () {
            cargaListHoario(select1Emisor, selectDestino);
            cargaListHoario(select2Emisor, select2Destino);
        });

        function cargaListHoario(typeSelecccionClass, elegirDestinoSelect) {

            var IdClaseValue = $(`#${typeSelecccionClass} option:selected`).val();
            $.ajax({
                url: '@Url.Action("SelectListClasesHorarioV1Nombre", "Alumnos")',
                type: 'GET',
                data: {
                    IdClase: IdClaseValue
                },
                dataType: "json",
                success: function (response) {
                    if (response.success) {
                        var data = response.data;
                        var tam = data.length;
                        var i = 0;

                        $(`#${elegirDestinoSelect}`).empty();

                        $(`#${elegirDestinoSelect}`).append(
                            $("<option>").attr("value", " ").text("Seleccionar...")
                        );

                        while (i < tam) {
                            $(`#${elegirDestinoSelect}`).append(
                                $("<option>").attr("value", data[i].dia).text(data[i].dia)
                            );

                            i++;
                        }

                    } else {
                        console.error('Error al obtener la lista de horarios de la clase: ', response.message);

                    }
                },
                error: function (error) {
                    console.error('Error al llamar a la action SelectListClasesHorario: ', error);
                }
            });
        }

        selectDay.addEventListener("change", function () {

            var varDaySeleccion = selectDay.value;
            console.log("Select de dioa es " + varDaySeleccion);
        });

        var selectOpcionalesV1 = 0;

        selectOpcionales.addEventListener("change", function () {
            selectOpcionalesV1 = this.value;
            //console.log("Esrata Vaciao " + selectOpcionalesV1);
        });

        $('#tomarClases2').on("change", function () {

            var selectOp = selectOpcionalesV1;
            var selectOne = this.value;

            console.log("Vairable se tome en " + selectOne);
            console.log("Que  tiene " + selectOp);
            if (selectOp == '0') {
                DiaAndHoraClaseOpcional.value = "{}";
                //console.log("Esrata Vaciao ");

            } else {
                DiaAndHoraClaseOpcional.value = "{" + selectOne + "}";
            }

        });


        $('#tomarClases1').on("change", function () {

            var selectDayV1 = selectDay.value;

            if (selectDayV1 == "") {
                Swal.fire({
                    position: "top-end",
                    icon: "warning",
                    title: "Seleccione la Cantidad de Dia de clases",
                    showConfirmButton: false,
                    timer: 1500
                });
            } else {

                var valoresSeleccionado = [];
                var selectedOptions = this.selectedOptions;
                for (var i = 0; i < selectedOptions.length; i++) {
                    var selectValue = selectedOptions[i].value;
                    valoresSeleccionado.push(selectValue);
                }
                DiaAndHoraClaseBase.value = JSON.stringify("{ " + valoresSeleccionado.join(" , ") + " }");


                //console.log("Valor seleccionado en el primer select: " + selectDayV1);

                if (valoresSeleccionado.length > selectDayV1) {
                    Swal.fire({
                        position: "top-end",
                        icon: "warning",
                        title: "No puede Seleccionar más de " + selectDayV1 + " clases",
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
            }
        });

        $("#SeleccionarClase1").on("change", function () {
            cargaListHoario(select1Emisor, selectDestino);
            $('#tomarClases1').trigger('change');//trigger entiendo como un diusparador de eventos
        });
        $("#SeleccionarClase2").on("change", function () {
            cargaListHoario(select2Emisor, select2Destino);
            $('#tomarClases2').trigger('change');//trigger entiendo como un diusparador de eventos
        });






        $(document).ready(function () {

            $("#Inscripcion").keyup(function () {
                calcularTotales();
            });
            $("#CostoLibro").keyup(function () {
                calcularTotales();
            });
            $("#Mensualidad").keyup(function () {
                calcularTotales();
            });
        });

        mensualidadInput.addEventListener("blur", function () {
            var pagoMensual = parseFloat(mensualidadInput.value);
            var porcentajeV = porcentaje;
            var pagoEsMensual = pagoMensual - (calcularPago(porcentajeV, pagoMensual));
            $(this).val(pagoEsMensual);
            calcularTotales();

        });
        function calcularTotales() {
            var inscripcion = parseFloat($("#Inscripcion").val());
            var mensualidad = parseFloat($("#Mensualidad").val());
            var pagosLibro = parseFloat($("#CostoLibro").val());
            var total = inscripcion + mensualidad + pagosLibro;
            $("#Total").val(total.toFixed(2));
        }
        calcularTotales();

        function calcularPago(porcentajeV1, mensualidad) {
            var resultado = parseFloat((porcentajeV1 * mensualidad) / 100);
            return resultado;
        }

    </script>
}



<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
        'use strict';

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation');

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms).forEach((form) => {
            form.addEventListener('submit', (event) => {
                if (!form.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    })();
</script>