@model List<Alumnos>

@{
    ViewData["Title"] = "Alumnos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Tabla Alumnos</h3>
                        <a asp-action="agregaralumnos" asp-controller="Alumnos" asp-route-IdAlumno="0" class="btn btn-dark btn-sm" style="float: right !important">Nuevo Alumno </a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>ID Alumno</th>
                                    <th>Fecha Inscripcion</th>
                                    <th>Tag</th>
                                    <th>No. Dia Clases</th>
                                    <th>Fecha Inicio ClaseGratis</th>
                                    <th>Fecha FinClase Gratis</th>
                                    <th>Nombre</th>
                                    <th>Ap. Paterno</th>
                                    <th>Ap. Materno</th>
                                    <th>Edad</th>
                                    <th>Fecha Nacimiento</th>
                                    <th>Telefono Casa</th>
                                    <th>Celular</th>
                                    <th>Facebook</th>
                                    <th>Email</th> 
                                    <th>Enfermedades</th>
                                    <th>Discapacidad</th>
                                    <th>Instrumento Base</th>
                                    <th>Dia</th>
                                    <th>Instrumento Opcional</th>
                                    <th>Dia Opcio</th>
                                    <th>Hora Opcio</th>
                                    <th>Nombre Papa</th>
                                    <th>Celular Papas</th>
                                    <th>Facebook Papas</th>
                                    <th>Email Papas</th>
                                    <th>Tutor Recoger</th>
                                    <th>Celular Tutor</th>
                                    <th>NumEmergencia</th>
                                    <th>Estudios</th>
                                    <th>Grado Estudios</th>
                                    <th>Escuela Actuales</th>
                                    <th>Trabajas</th>
                                    <th>Lugar Trabajo</th>
                                    <th>Conocimiento Actual</th>
                                    <th>Instrumento</th>
                                    <th>Instrumento Casa</th>
                                    <th>No. Instrumento</th>
                                    <th>Como te enteraste de la Escuela</th>
                                    <th>Interes Gnro Musical</th>
                                    <th>Cuales</th>
                                    <th>Otro</th>
                                    <th>Clase Opcional</th>
                                    <th>DescuentoP</th>
                                    <th>amable</th>
                                    <th>NombreRecepcionista</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td>@item.IdAlumno</td>
                                        <td>@item.FechaInscripcion</td>
                                        <td>@item.Tag</td>
                                        <td>@item.NoDiaClases</td>
                                        <td>@item.FechaInicioClaseGratis</td>
                                        <td>@item.FechaFinClaseGratis</td>
                                        <td>@item.Nombre</td>
                                        <td>@item.ApPaterno</td>
                                        <td>@item.ApMaterno</td>
                                        <td>@item.Edad</td>
                                        <td>@item.FechaNacimiento</td>
                                        <td>@item.telefono</td>  
                                        <td>@item.Celular</td>
                                        <td>@item.Facebook</td>
                                        <td>@item.Email</td>
                                        <td>@item.Enfermedades</td>
                                        <td>@item.Discapacidad</td>
                                        <td>@item.InstrumentoBase</td>
                                        <td>@item.Dia</td>
                                        <td>@item.InstrumentoOpcional</td>
                                        <td>@item.diaOpcional</td> 
                                        <td>@item.horaOpcional</td> 
                                        <td>@item.NombrePapas</td>   <!-- NO -->
                                        <td>@item.CelularPapas</td>   <!-- NO -->
                                        <td>@item.FacebookPapas</td>    <!-- NO -->
                                        <td>@item.EmailPapas</td>    <!-- NO -->
                                        <td>@item.TutorRecoger</td>     <!-- NO -->
                                        <td>@item.CelularTR</td>     <!-- NO -->
                                        <td>@item.NumEmergencia</td>   <!-- NO -->
                                        <td>@item.Estudios</td>
                                        <td>@item.GradoEstudios</td>    <!-- NO -->
                                        <td>@item.EscuelaActuales</td>    <!-- NO -->
                                        <td>@item.Trabajas</td>
                                        <td>@item.LugarTrabajo</td>    <!-- NO -->
                                        <td>@item.ConActual</td>    <!-- NO -->
                                        <td>@item.Instrumento</td>    <!-- NO -->
                                        <td>@item.InstrumentoCasa</td>
                                        <td>@item.NoInstrumento</td>     <!-- NO -->
                                        <td>@item.EnterasteEscuela</td>   <!-- NO -->
                                        <td>@item.InteresGnroMusical</td>
                                        <td>@item.Cuales</td>    <!-- NO -->
                                        <td>@item.Otro</td>     <!-- NO -->
                                        <td>@item.ClaseOpcional</td>
                                        <td>@item.DescuentoP</td>
                                        <td>@item.amable</td>
                                        <td>@item.NombreRecepcionista</td>    <!-- NO -->
                                        <td>
                                            <a asp-action="agregaralumnos" asp-controller="Alumnos" asp-route-IdAlumno="@item.IdAlumno" class="btn btn-light btn-sm" style="width:100%; margin-bottom:10px">EDITAR </a>
                                            <a asp-action="Eliminar" asp-controller="Alumnos" asp-route-IdAlumno="@item.IdAlumno" class="btn btn-danger btn-sm" style="width:100%;">ELIMINAR </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

