@using emai.Servicios.Commons
@model BaseResponseV1<AlumnoModel>

@* @{
    var httpClient = new HttpClient();
} *@

@{
    ViewData["Title"] = "Alumnos";
    Layout = "~/Views/Shared/_Layout.cshtml";



}


<style>
    div.dt-buttons {
        position: initial;
        display: none !important;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <h2>Lista de Alumnos</h2>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Tabla Alumnos</h3>
                        @* asp-route-IdAlumno="0" *@
                        <a asp-action="agregaralumnos" asp-controller="Alumnos" asp-route-IdAlumno="0" class="btn btn-dark btn-sm" style="float: right !important">Nuevo Alumno </a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body ">
                        <table id="example1" class="table table-bordered table-striped dataTable dtr-inline table-responsive">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Fecha Inscripción</th>
                                    <th>Tag</th>
                                    <th>Acciones</th>
                                    <th>No. Dia Clases</th>
                                    <th>Fecha Inicio Clase </th>
                                    <th>Nombre Completo</th>
                                    <th>Edad</th>
                                    <th>Telefono Casa</th>
                                    <th>Celular</th>
                                    <th>Enfermedades</th>
                                    <th>Instrumento Base</th>
                                    <th>Dia</th>
                                    <th>Instrumento Opcional</th>
                                    <th>Día y Hora Opcional</th>
                                    <th>Nombre Papa</th>
                                    <th>Celular Papas</th>
                                    <th>Tutor Recoger</th>
                                    <th>Celular Tutor</th>
                                    <th>NumEmergencia</th>
                                    <th>Acitvo</th>
                                </tr>
                            </thead>
                            <tbody>

                                @{
                                    foreach (var alumno in Model.Data)

                                    {
                                        <tr>
                                            <td>@alumno.IdAlumno</td>
                                            <td>@alumno.FechaInscripcion</td>
                                            <td>@alumno.Tag</td>
                                            <td>
                                                <a asp-action="agregaralumnos" asp-controller="Alumnos" asp-route-IdAlumno="@alumno.IdAlumno" class="btn btn-light btn-sm" style="width:100%; margin-bottom:10px">EDITAR </a>
                                                <a asp-action="EliminarAlumnosV1" asp-controller="Alumnos" asp-route-IdAlumno="@alumno.IdAlumno" class="btn btn-danger btn-sm" style="width:100%;">Desactivar </a>
                                                <a asp-action="ReactivarAlumnosV1" asp-controller="Alumnos" asp-route-IdAlumno="@alumno.IdAlumno" class="btn btn-success btn-sm" style="width:100%;">Reactivar</a>
                                            </td>
                                            <td>@alumno.NoDiaClases</td>
                                            <td>@alumno.FechaInicioClase</td>
                                            <td>@alumno.NombreCompleto</td>
                                            <td>@alumno.Edad</td>
                                            <td>@alumno.TelefonoCasa</td>
                                            <td>@alumno.Celular</td>
                                            <td>@alumno.Enfermedades</td>
                                            <td>@alumno.SeleccionarClase1</td>
                                            <td>@alumno.DiaAndHoraClase</td>
                                            <td>@alumno.SeleccionarClase2</td>
                                            <td>@alumno.DiaAndHoraClaseOpcional</td>

                                            <td>@alumno.NombrePapas</td>
                                            <td>@alumno.CelularPapas</td>
                                            <td>@alumno.TutorRecoger</td>
                                            <td>@alumno.CelularTR</td>
                                            <td>@alumno.Enfermedades</td>
                                            <td>@alumno.StringActivo</td>


                                        </tr>
                                    }

                                }


                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>


