@model Horario

@{
    ViewData["Title"] = "agregarhorario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        @ViewBag.Accion
    </div>
    <!-- /.card-header -->
    <div class="card-body">

        <form asp-action="GuardarCambios" asp-controller="Horario" method="post">

            <input asp-for="IdHorario" type="hidden" />

            <div class="mb-2">
                <label class="form-label">Maestro</label>
                <select class="form-control form-control-sa" asp-for="IdMaestro">
                    <option value="">Seleccione un Maestro</option>
                    @foreach (var maestro in Model.MaestrosDisponibles)
                    {
                        <option value="@maestro.IdMaestro">@maestro.Nombre</option>
                    }
                </select>
            </div>
            <div class="mb-2">
                <label class="form-label">Clase</label>
                <select class="form-control form-control-sa" asp-for="IdClase">
                    <option value="">Seleccione una clase</option>
                    @foreach (var clase in Model.ClasesDisponibles)
                    {
                        <option value="@clase.idClase">@clase.Nombre</option>
                    }
                </select>
            </div>
            <div class="mb-2">
                <label class="form-label">Dia</label>
                <input type="text" class="form-control form-control-sa" asp-for="Dia" />
            </div>
            <div class="mb-2">
                <label class="form-label">Fecha</label>
                <input type="date" class="form-control form-control-sa" asp-for="Fecha" />
            </div>
            <div class="mb-2">
                <label class="form-label">Hora Inicio</label>
                <input type="time" class="form-control form-control-sa" asp-for="HoraInicio" />
            </div>
            <div class="mb-2">
                <label class="form-label">Hora Fin</label>
                <input type="time" class="form-control form-control-sa" asp-for="HoraFin" />
            </div>
            <button type="submit" class="btn btn-success btn-sm">Guardar Cambios</button>

            <a asp-action="Horario" asp-controller="Horario" class="btn btn-warning btn-sm">Volver a la vista </a>

        </form>

        @*<a asp-action="agregarusuario" asp-controller="Usuarios" asp-route-IdUsuario="0" class="btn btn-primary btn-sm">Nuevo Usuario </a>*@

    </div>
</div>