@model AsigClase

@{
    ViewData["Title"] = "agregarasigclase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        @ViewBag.Accion
    </div>
    <!-- /.card-header -->
    <div class="card-body">

        <form asp-action="GuardarCambios" asp-controller="AsigClase" method="post">

            <input asp-for="AsgnId" type="hidden" />

            <div class="mb-2">
                <label class="form-label">Maestro</label>
                <select class="form-control form-control-sa" asp-for="IdMaestro">
                    <option value="">Seleccione un Maestro</option>
                    @foreach (var maestro in Model.MaestrosDisponibles)
                    {
                        <option value="@maestro.IdMaestro">@maestro.Nombre</option>
                    }
                </select>
            </div>
            <div class="mb-2">
                <label class="form-label">Clase</label>
                <select class="form-control form-control-sa" asp-for="IdClase">
                    <option value="">Seleccione una clase</option>
                    @foreach (var clase in Model.ClasesDisponibles)
                    {
                        <option value="@clase.idClase">@clase.Nombre</option>
                    }
                </select>
            </div>
            <div class="mb-2">
                <label class="form-label">Fecha Asignacion</label>
                <input type="date" class="form-control form-control-sa" asp-for="FechaAsignacion" />
            </div>

            <button type="submit" class="btn btn-success btn-sm">Asignar Clase</button>

            <a asp-action="AsigClase" asp-controller="AsigClase" class="btn btn-warning btn-sm">Volver a la vista </a>

        </form>

        @*<a asp-action="agregarusuario" asp-controller="Usuarios" asp-route-IdUsuario="0" class="btn btn-primary btn-sm">Nuevo Usuario </a>*@




    </div>
</div>

