@{
    ViewData["Title"] = "Gastos";
}

@*<div class="cardheadercontainer">
    <div class="cardheadercontent">
        <h2 class="cardheadergreeting">Bienvenido, emai</h2>
        <span class="cardheaderenroll">ESCUELA DE MÚSICA AUDIO E ILUMINACIÓN</span>

    </div>


</div>*@

<div class="content-container" style="min-height: calc(554.067px);">



    <div class="contentcards">
        <h2 class="cardstitle">Catálogo de Gastos</h2>
        <div class="cardsdash-container">
            <div class="card-dash">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-info">
                <div class="inner">
                    @*<img src="~/dist/svg/solid/graduation-cap.svg" width="20" />*@
                    <a href="@Url.Action("Colegiatura", "Colegiatura")" class=" @(ViewContext.RouteData.Values["Action"].ToString() == "Colegiatura" ? "active" : "") nav-link">

                        <p>Entrada de Colegiaturas</p>
                    </a>

                </div>


            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-success">
                <div class="inner">
                    <img src="~/dist/svg/solid/book-open-reader.svg" width="20" />
                    <a href="#">
                        <p>Libros + Inscripciones + Coperaciones</p>
                    </a>

                </div>


            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-info">
                <div class="inner">
                    <a href="@Url.Action("DotacionDia", "DotacionDia")" class=" @(ViewContext.RouteData.Values["Action"].ToString() == "DotacionDia" ? "active" : "") nav-link">
                        <img src="~/dist/svg/solid/person-chalkboard.svg" width="20" />
                        <p>Dotación del Día</p>
                    </a>


                </div>


            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-info">
                <div class="inner">
                    <a href="@Url.Action("GastosDia", "GastosDia")" class=" @(ViewContext.RouteData.Values["Action"].ToString() == "GastosDia" ? "active" : "") nav-link">
                        <img src="~/dist/svg/solid/credit-card.svg" width="20" />
                        <p>Gastos varios de Escuela</p>
                    </a>

                </div>


            </div>
        </div>
        <!-- ./col -->
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-info">
                <div class="inner">
                    <a href="@Url.Action("Nomina", "Nomina")" class=" @(ViewContext.RouteData.Values["Action"].ToString() == "Nomina" ? "active" : "") nav-link">
                        <img src="~/dist/svg/solid/credit-card.svg" width="20" />
                        <p>Nómina</p>
                    </a>

                </div>


            </div>
        </div>
        <!-- ./col -->
    </div>

</div>