@model List<GastosColegiatura>

@{
    ViewBag.Title = "Gastos de Colegiatura ";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Gastos Colegiatura</h3>
                        <a asp-action="agregarcolegiatura" asp-controller="Colegiatura" asp-route-IdColegiatura="0" class="btn btn-dark btn-sm" style="float: right !important">Nueva Colegiatura</a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">




                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>IdColegiatura</th>
                                    <th>Fecha</th>
                                    <th>Descripcion</th>
                                    <th>Cantidad</th>
                                    @* <th>Subtotal</th>
                                    <th>Total</th> *@
                                    <th>Img</th>
                                    <th>Editar</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td>@item.IdColegiatura</td>
                                        <td>@item.Fecha.ToString("dd/MM/yyyy")</td>
                                        <td>@item.Descripcion</td>
                                        <td>@item.Cantidad</td>
                                        <td>@item.Img</td>
                                        @* <td>@item.Total</td> *@
                                        <td>
                                            <a asp-action="agregarcolegiatura" asp-controller="Colegiatura" asp-route-IdColegiatura="@item.IdColegiatura" class="btn btn-light btn-sm" style="width:100%; margin-bottom:10px">EDITAR </a>
                                            <a asp-action="Eliminar" asp-controller="Colegiatura" asp-route-IdColegiatura="@item.IdColegiatura" class="btn btn-danger btn-sm" style="width:100%">ELIMINAR </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>