@model List<Usuarios>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Tabla de Usuarios</h3>
                        <a asp-action="agregarusuario1" asp-controller="Usuarios" asp-route-IdUsuario="0" class="btn btn-dark btn-sm" style="float: right !important">Nuevo Usuario </a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                      


                        <table id="example2" class="table table-bordered table-hover table-striped table-bordered table-sm table-responsive" cellspacing="0" ">
                            <thead>
                                <tr>
                                    <th>ID Usuario</th>
                                    <th>Nombre</th>
                                    <th>Contraseña</th>
                                    <th>Correo</th>
                                    <th>Dirección</th>
                                    <th>Teléfono</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td>@item.idUsuario</td>
                                        <td>@item.Usuario</td>
                                        <td>@item.Contraseña</td>
                                        <td>@item.Email</td>
                                        <td>@item.Direccion</td>
                                        <td>@item.Telefono</td>
                                        <td>
                                            <a asp-action="agregarusuario1" asp-controller="Usuarios" asp-route-IdUsuario="@item.idUsuario" class="btn btn-light btn-sm" style="width:100%; margin-bottom:10px">EDITAR </a>
                                            <a asp-action="Eliminar" asp-controller="Usuarios" asp-route-idUsuario="@item.idUsuario" class="btn btn-danger btn-sm" style="width:100%">ELIMINAR </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                            <tr>
                                    @*<th>idUsuario</th>
                                    <th>Nombre</th>
                                    <th>Contraseña</th>
                                    <th>Correo</th>
                                    <th>Dirección</th>
                                    <th>Teléfono</th>
                                    <th></th>*@
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->


            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
