@model List<HorarioVerano>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Tabla Horarios</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <a asp-action="agregarhorarioVr" asp-controller="HorarioVerano" asp-route-IdHorarioVerano="0" class="btn btn-primary btn-sm">Nuevo Horario Verano</a>


                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Codigo</th>
                                    <th>Dia</th>
                                    <th>Hora</th>
                                    <th>Editar</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.IdHorarioVerano</td>
                                        <td>@item.Dia</td>
                                        <td>@item.Hora</td>
                                        
                                        <td>
                                            <a asp-action="agregarhorarioVr" asp-controller="HorarioVerano" asp-route-IdHorarioVerano="@item.IdHorarioVerano" class="btn btn-primary btn-sm">EDITAR </a>
                                            <a asp-action="Eliminar" asp-controller="HorarioVerano" asp-route-IdHorarioVerano="@item.IdHorarioVerano" class="btn btn-danger btn-sm">ELIMINAR </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            @* <tfoot>
                            <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Contraseña</th>
                            <th>Correo</th>
                            <th>Dirección</th>
                            <th>Teléfono</th>
                            </tr>
                            </tfoot>*@
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->


            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

